* {
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
}



button {
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: AlgeraExtrabold;
  src: url("./assets/font/AlgeraExtrabold-jEDY0.otf");
}

.nav {
  width: 100%;
  box-shadow: 1px 0px 20px 20px #ffffff94;
  background-color: #ffffff94;
  position: absolute;
  top: 0;
  z-index: 10000;
  padding: 10px 30px 10px 30px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2em;
  color: #0d0168;
  padding: 10px 10px 10px 10px;
  font-family: AlgeraExtrabold;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 13px 13px 13px;
  margin: 0 5px;
  text-decoration: none;
  color: #ff6c02;
  font-family: sans-serif;
  border-radius: 30px;
  font-size: 15px;
  transition: 200ms ease-in-out;
}

.nav > .nav-links > a:hover {
  color: #1e266d;
}

.nav > #nav-check {
  display: none;
}
@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #efebeb57;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.header {
  position: relative;
  height: 85vh;
  overflow-y: hidden;
  width: 100%;
}

.carousel-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: aqua;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-content {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-content-active {
  display: block !important;
}

.img-description {
  position: absolute;
  color: #0e2231;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  background-color: #ffffffa8;
  transition: 500ms ease-in-out;
}

.img-description:hover {
  opacity: 0;
}

.img-description h1 {
  font-family: AlgeraExtrabold;
  font-size: 5vw;
}

.img-description span {
  font-family: "Fuggles", cursive;
  font-size: 2vw;
}

.blocks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 0.5fr));
  grid-auto-rows: 1fr;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.blocks-container::before {
  content: "";
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
  width: 0;
}

.blocks-container > *:first-child {
  grid-row: 1/1;
  grid-column: 1/1;
}

.blocks-container > * {
  background: rgba(255, 255, 255, 0.1);
  border: 1px rgb(0, 0, 0) solid;
}
.blocks-ui {
  background-color: #414143;
  filter: blur(1px);
  opacity: 1;
  box-shadow: -1px 3px 7px 11px #333536;
}

.block-with-shadow {
  background-image: linear-gradient(90deg, #232323, #2d2f2f);
  box-shadow: -5px 2px 9px 3px #001426;
  border-width: 1px 3px 0px 0px;
  border-color: #00abff;
}

/* Buttons */
.leftbtn {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.rightbtn {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.center {
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  left: 20%;
  bottom: 0%;
  right: 20%;
}

.img-index-btn {
  width: 15px;
  height: 15px;
  margin: 0px 4px 40px 4px;
  border-radius: 50%;
  background-color: #00353a !important;
  transition: 500ms ease-in-out;
}
.img-index-btn-active {
  width: 30px;
  height: 15px;
  margin: 0px 4px 40px 4px;
  border-radius: 10px;
  background-color: #fff !important;
  transition: 500ms ease-in-out;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 1s;
}
